<!DOCTYPE HTML>
<html>
	<head>
		<title><%= title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">

						<!-- Four -->
							<section id="four">
								<div class="container">
									<h3>Alta de usuario</h3>
									<p>Ingrese su nombre de usuario y password de acoooseees</p>
									<% if(messages) {
										messages.forEach( function(msg) {
									%>
									<p><%=msg.string %></p>
									<%
										} );
                  } 
                  removeMessages() %>
									<form method="POST" action="/users/signup" enctype="multipart/form-data">
										<div class="row uniform">
											<div class="12u"><input type="text" name="username" id="username" placeholder="Nombre de usuario" /></div>
                    </div>
                    <div class="row uniform">
											<div class="12u"><input type="text" name="name" id="name" placeholder="Nombre" /></div>
										</div>
										<div class="row uniform">
											<div class="12u"><input type="password" name="password" id="password" placeholder="Clave" /></div>
                    </div>
                    <div class="row uniform">
											<div class="12u"><input type="password" name="reppassword" id="reppassword" placeholder="Repetir clave" /></div>
                    </div>
                    
                    <div class="row uniform">
                      <div class="12u">Avatar: <input type="file" name="imgfile" id="imgfile"></div>
                    </div>

										<div class="row uniform">
											<div class="12u">
												<ul class="actions">
													<li><input type="submit" class="special" value="Enviar" /></li>
													<li><input type="reset" value="Limpiar" /></li>
												</ul>
											</div>
										</div>
									</form>

								</div>
							</section>

					</div>

			</div>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			

	</body>
</html>